@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply h-7 w-20 p-0.5 z-10 leading-normal
        border border-amber-500 rounded-lg focus:ring-1 focus:ring-sky-500 focus:border-sky-500 focus:outline-none
        bg-gray-100
        dark:bg-gray-900;
    }

    .input-sm {
        @apply w-10
    }

    .result {
        @apply inline-block border-b-2 border-b-pink-500 h-8 font-bold
        dark:font-medium;
    }

    .compute-button {
        @apply text-lg text-center flex items-center
        text-white shadow-lg shadow-sky-500/40 bg-sky-500
        dark:shadow-none dark:bg-sky-600
        hover:bg-sky-600 hover:shadow-sky-600/40 hover:dark:bg-sky-700
        disabled:bg-sky-400 disabled:shadow-none disabled:dark:bg-sky-500
        rounded-lg px-5 py-2.5 m-5
    }

    .body {
        @apply px-5 lg:px-10 font-sans-serif
        bg-gray-100 text-gray-800
        dark:bg-gray-900 dark:text-gray-100
    }

    .card {
        @apply text-center leading-loose text-lg rounded-xl shadow-lg p-3 lg:p-6
        bg-white
        dark:bg-gray-800
    }

    .switch-form-basic-label-selected {
        @apply border-b-2 border-b-pink-500
    }

    .switch-form-advanced-label-selected {
        @apply border-b-2 border-b-sky-500
    }

    .switch-input:checked + .slider {
        @apply bg-sky-500
    }

    .slider {
        @apply bg-pink-500
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
}

.switch .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch-input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 22px;
}

.slider.round:before {
    border-radius: 50%;
}
